graft organizeit2

include LICENSE
include README.md

prune docs
prune .vscode
prune .github

prune .pytest_cache
prune .ruff_cache
prune .mypy_cache

exclude CONTRIBUTING.md
exclude .bumpversion.cfg
exclude pyproject.toml
exclude Makefile

exclude .gitignore
exclude .gitattributes

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
